extends layout

block content
	.navbar
		.navbar-inner
			#user-id.brand
	#wrapper
		#ani1.button.btn.btn-large.btn-block.btn-success Animation 1
		#ani2.button.btn.btn-large.btn-block.btn-success Animation 2
		#ani3.button.btn.btn-large.btn-block.btn-success Animation 3
		#ani4.button.btn.btn-large.btn-block.btn-success Animation 4
		#ani5.button.btn.btn-large.btn-block.btn-success Animation 5

block scripts
	script(src='/js/index.js')
	script(src="/socket.io/socket.io.js")
	script(src='/js/socket_client.js')