extends layout

block content
	#wrapper
		#my-btn.button.btn.btn-large.btn-block.btn-success Press Me!

block scripts
	script(src='/js/index.js')
	script(src="/socket.io/socket.io.js")
	script(src='/js/socket_client.js')