!!! 5
html
	head
		title Node LED
		link(rel='stylesheet', href='/vendor/bootstrap.min.css')
		link(rel='stylesheet', href='/css/style.css')
		meta(http-equiv="cache-control", content="no-cache")
		meta(name="apple-touch-fullscreen", content="yes")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")
		meta(name="viewport", content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
	body
	block content
	script(src='/vendor/jquery-1.9.0.min.js')
	block scripts