html,body{margin:0;padding:0}
body{height:100%;background-color:#eee}
.navbar-inner{padding:0}
.navbar-inner .brand{width:100%;margin:0;text-align:center}
.navbar .brand{padding:10px 0 10px 0}
#wrapper{padding:50px;width:500px;margin:auto;margin-top:20%}
