raiseText()
	color grey
	text-shadow: -1px 1px 0 white
	-moz-text-shadow: -1px 1px 0 white
	-webkit-text-shadow: -1px 1px 0 white

body 
	margin  0
	padding  0
	height  100%
	background-color #EEEEE

p
	padding 20px
	raiseText()